* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__container {
    color: #444;
    margin: 0 auto;
}

.navbar {
    background-color: #333;
    padding: 10px 100px;
    position: fixed; /* Barra fija al hacer scroll */
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    font-family: "Titillium Web", sans-serif;
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }
}


.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.navbar__img {
    width: 50px;
    height: auto;
}

/* Enlaces en pantallas grandes */
.navbar__links {
    display: flex;
    list-style: none;
}

.navbar__links li {
    margin-left: 20px;
}

.navbar__links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* Ícono del menú hamburguesa, inicialmente oculto en pantallas grandes */
.navbar__icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar__links {
        display: none; /* Ocultar los enlaces en móviles */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%; /* Abarcar todo el ancho de la pantalla */
        padding: 10px;
    }

    /* Clase activa para mostrar el menú en móviles */
    .navbar__links.show-menu {
        display: flex;
    }

    .navbar__links li {
        margin: 10px 0;
    }

    /* Mostrar el icono hamburguesa en móviles */
    .navbar__icon {
        display: block;
    }
}


.section, section {
    padding: 40px 100px;
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .section, section {
        padding: 20px;
    }
}

.section__title--primary {
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-size: 48px;
    padding: 30px;
}

.section .section__title {
    padding-bottom: 20px;
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
}


.section--bienvenida .section__text {
  
}

.section--bienvenida {
    padding-top: 80px;
}

.cards__container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .cards__container {
       flex-direction: column;
    }
}  

.cards__container .card {
    background: pink;
    padding: 30px;
    max-width: 32%;
    border: 1px solid white;
    border-radius: 14px;
}

@media (max-width: 768px) {
    .cards__container .card {
        padding: 30px;
        max-width: 100%;
        margin-top: 10px;
    }
}

.cards__container--servicios .card .card__icon {
    display: flex;
}

.cards__container--servicios .card .card__title {
    display: flex;
}

.cards__container--servicios .card .card__icon span {
    text-align: center;
    margin: 0 auto;
}

.section--testimonios {
  
}

.section--servicios {
    
}


.footer {
    font-family: "Titillium Web", sans-serif;
    background-color: #333;
    color: white;
    padding: 20px 0 80px 0;
    text-align: center;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
    }
}

.footer__section {
    flex: 1;
    min-width: 33%;
    margin: 10px 0;
    text-align: justify;
    padding-left: 110px;
}

@media (max-width: 768px) {
    .footer__section {
        padding-left: 0;
    }
    
}

.footer__section h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer__section ul {
    list-style: none;
}

.footer__section ul li {
    margin-bottom: 10px;
}

.footer__section ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer__section ul li a:hover {
    color: #ddd;
}

.icon a, .icon span {
    font-size: 24px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s ease;
}

.icon a:hover {
    color: #ddd;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-icons a {
        margin: 5px;
    }
}